<launch>


	<include file="$(find gazebo_ros)/launch/empty_world.launch" >
		<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/>
    	<arg name="gui" value="true"/>
    	<arg name="recording" value="false"/>
    	<arg name="debug" value="false"/>
  	</include>

  <group ns="robot">
    <param name="robot_description"
			textfile="$(find wall_e)/description/model.urdf"/>
    <node name="spawn_urdf"
      pkg="gazebo_ros"
      type="spawn_model"
      args="-param robot_description -urdf -model model -x 0 -y 0 -z 0.5"/>
  </group>

  <group ns="pipe">
    <param name="pipes"
			textfile="$(find straight_pipe)/urdf/straight_pipe.urdf"/>
    <node name="spawn_urdf"
      pkg="gazebo_ros"
      type="spawn_model"
      args="-param pipes -urdf -model pipe -x 0 -y 0 -z 0.5"/>
  </group>


	<node
		pkg="teleop_twist_keyboard"
		type="teleop_twist_keyboard.py"
		name="teleop_twist_keyboard"
		output="screen"/>

</launch>
